# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
.expo/*

# iOS / Android build caches (se gerar nativo)
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/

# IDE / SO
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json

# Misc
*.log
*.tmp
